$offset: 20px;
$time: 0.3s;

$color-brand: #0366d6;
$color-brand_lighter: #f1f8fe;
$color-brand_shady: #0057b9;
$color-sub-brand: #eb5757;
$color-extras: #f1e05a;
$color-text: #000;
$color-text_bright: #e0e0e0;
$color-text_light: #b3bcc7;
$color-text_lighter: #999999;

$color-bright: #fff;
$color-shadow: #3c4146;
